<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.cre8.mapper.MainMapper">

	
	<select id="list" resultType="com.cre8.dto.ProductMainVO">
	<![CDATA[
		select * from 
		(
			select rownum as rn, x.* from 
				(
					select (select (select thumb_filename from att_thumb at where at.att_seqno = a.att_seqno) from att a where a.item_seqno = i.item_seqno) as item_img, 
							i.item_name as item_name, p.pro_price as pro_price, p.pro_hits as pro_hits, p.cat_seqno, p.pro_seqno as pro_seqno
					from item i, pro p 
					
					where i.item_seqno = p.item_seqno and p.cat_seqno = #{category} order by pro_hits desc
				) x 
			
			where rownum <= #{currentPage} * #{rowPerPage}
		)
		where rn > (#{currentPage} - 1) * #{rowPerPage}
	]]>	
	</select>
	
	<select id="total"  resultType="int">
		select count(*)
		from item i, pro p 
		where i.item_seqno = p.item_seqno and p.cat_seqno = #{category}
	</select>
	
 </mapper>
